<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-evup border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                
                    <svg xmlns="http://www.w3.org/2000/svg" width="158.695" height="57.165" viewBox="0 0 178.695 77.165">
                        <g id="Grupo_224" data-name="Grupo 224" transform="translate(-933.388 -1769.657)">
                            <g id="Grupo_211" data-name="Grupo 211">
                                <path id="Caminho_38" data-name="Caminho 38" d="M950.37,1827.594a21.529,21.529,0,0,0,2.986-.219q1.561-.219,3.095-.493a2.194,2.194,0,0,1,1.918.52,2.8,2.8,0,0,1,.849,1.671,3.214,3.214,0,0,1-.356,1.945,2.413,2.413,0,0,1-1.754,1.232q-1.7.439-3.615.74a24.45,24.45,0,0,1-3.78.3,21.161,21.161,0,0,1-6.492-.958,14.455,14.455,0,0,1-5.177-2.877,12.992,12.992,0,0,1-3.424-4.875,18.167,18.167,0,0,1-1.232-7.013,18.371,18.371,0,0,1,.821-5.45,13.686,13.686,0,0,1,2.548-4.739,12.555,12.555,0,0,1,4.41-3.342,14.968,14.968,0,0,1,6.409-1.26,14.282,14.282,0,0,1,5.807,1.069,9.968,9.968,0,0,1,3.917,3.012,13.216,13.216,0,0,1,2.246,4.6,21.462,21.462,0,0,1,.74,5.78,2.884,2.884,0,0,1-.767,2,2.6,2.6,0,0,1-2.027.85H946.207a2.416,2.416,0,0,1-2-.85,2.931,2.931,0,0,1-.685-1.889,3.015,3.015,0,0,1,.658-1.89,2.4,2.4,0,0,1,2.027-.85h5.807c.4,0,.648-.109.739-.329a1.172,1.172,0,0,0,.082-.657,7.04,7.04,0,0,0-1.588-3.752,4.666,4.666,0,0,0-3.78-1.561,5.977,5.977,0,0,0-3.068.766,7.011,7.011,0,0,0-2.219,2.055,9.583,9.583,0,0,0-1.369,2.958,12.875,12.875,0,0,0,.082,7.149,8.693,8.693,0,0,0,1.753,3.2,9.03,9.03,0,0,0,3.1,2.274A10.965,10.965,0,0,0,950.37,1827.594Z" fill="#fff"></path>
                                <path id="Caminho_39" data-name="Caminho 39" d="M989.978,1803.489a3.493,3.493,0,0,1,1.725.411,3.252,3.252,0,0,1,1.178,1.1,3.732,3.732,0,0,1,.548,1.562,3.644,3.644,0,0,1-.219,1.753l-8.491,21.967a4.715,4.715,0,0,1-1.754,2.192,4.664,4.664,0,0,1-5.286,0,4.759,4.759,0,0,1-1.726-2.192l-8.162-20.981h-.768a2.925,2.925,0,0,1-2.081-4.958,2.769,2.769,0,0,1,2.081-.85h3.561a3.517,3.517,0,0,1,3.232,2.246q1.644,4.549,2.876,7.944t2,5.7q.93,2.685,1.535,4.6h.164q.6-1.919,1.534-4.6.766-2.3,1.971-5.7t2.849-7.944a3.77,3.77,0,0,1,1.26-1.589A3.211,3.211,0,0,1,989.978,1803.489Z" fill="#fff"></path>
                                <path id="Caminho_40" data-name="Caminho 40" d="M1030.188,1827.813a3.75,3.75,0,0,1,1.2.9,2.1,2.1,0,0,1,.437,1.4,2.353,2.353,0,0,1-.437,1.424,3.926,3.926,0,0,1-1.1,1.014,4.968,4.968,0,0,1-1.425.6,5.9,5.9,0,0,1-1.424.192,4.958,4.958,0,0,1-4.437-2.246,12.264,12.264,0,0,1-7.232,2.191,18.575,18.575,0,0,1-4.958-.657,11.727,11.727,0,0,1-4.19-2.082,10.057,10.057,0,0,1-2.877-3.7,13.017,13.017,0,0,1-1.067-5.56v-12h-.823a2.926,2.926,0,0,1-2.082-4.958,2.77,2.77,0,0,1,2.082-.85h4.438a3.331,3.331,0,0,1,2.465,1.069,3.464,3.464,0,0,1,1.041,2.493v13.476a8.91,8.91,0,0,0,1.287,5.012q1.287,1.946,4.684,1.945,3.288,0,4.657-1.835a8.107,8.107,0,0,0,1.37-4.958l.054-13.64a3.506,3.506,0,0,1,1.013-2.493,3.3,3.3,0,0,1,2.493-1.069,3.388,3.388,0,0,1,2.52,1.069,3.464,3.464,0,0,1,1.041,2.493v18.68a2.437,2.437,0,0,0,.329,1.233A1.99,1.99,0,0,0,1030.188,1827.813Z" fill="#fff"></path>
                                <path id="Caminho_41" data-name="Caminho 41" d="M1053.415,1802.777a11.527,11.527,0,0,1,5.424,1.233,12.191,12.191,0,0,1,3.972,3.287,14.5,14.5,0,0,1,2.438,4.683,18.264,18.264,0,0,1,.821,5.479,20.638,20.638,0,0,1-.821,5.752,15.8,15.8,0,0,1-2.493,5.095,12.9,12.9,0,0,1-4.136,3.616,11.547,11.547,0,0,1-5.7,1.369,13.087,13.087,0,0,1-1.644-.11,6.008,6.008,0,0,1-1.643-.443,3.246,3.246,0,0,1-1.261-.939,2.476,2.476,0,0,1-.492-1.6,2.575,2.575,0,0,1,.821-1.908,2.662,2.662,0,0,1,1.917-.8h1.041a5.778,5.778,0,0,0,3.451-.98,7.01,7.01,0,0,0,2.164-2.505,10.617,10.617,0,0,0,1.069-3.35,19.512,19.512,0,0,0,.219-3.513,15.27,15.27,0,0,0-.411-2.969,9.495,9.495,0,0,0-1.1-2.723,6.244,6.244,0,0,0-1.946-2.015,5.513,5.513,0,0,0-2.9-.845,7.455,7.455,0,0,0-3.67.876,10.27,10.27,0,0,0-3.123,2.461v31.346a3.551,3.551,0,0,1-3.561,3.555,3.5,3.5,0,0,1-2.575-1.04,3.432,3.432,0,0,1-1.041-2.52V1809.3h-.766a2.925,2.925,0,0,1-2.082-4.958,2.769,2.769,0,0,1,2.082-.85h4.053a3.227,3.227,0,0,1,2.328,1,3.167,3.167,0,0,1,1.014,2.328h.055a9.477,9.477,0,0,1,3.835-3.069A11.65,11.65,0,0,1,1053.415,1802.777Z" fill="#fff"></path>
                            </g>
                            <g id="Grupo_223" data-name="Grupo 223">
                                <g id="Grupo_212" data-name="Grupo 212">
                                    <circle id="Elipse_2" data-name="Elipse 2" cx="4.859" cy="4.859" r="4.859" transform="translate(1088.72 1769.657)" fill="#fff"></circle>
                                </g>
                                <g id="Grupo_213" data-name="Grupo 213">
                                    <circle id="Elipse_3" data-name="Elipse 3" cx="4.859" cy="4.859" r="4.859" transform="translate(1075.068 1777.536)" fill="#e52454"></circle>
                                </g>
                                <g id="Grupo_215" data-name="Grupo 215">
                                    <g id="Grupo_214" data-name="Grupo 214">
                                        <circle id="Elipse_4" data-name="Elipse 4" cx="4.859" cy="4.859" r="4.859" transform="translate(1075.068 1793.307)" fill="#fff"></circle>
                                    </g>
                                </g>
                                <g id="Grupo_216" data-name="Grupo 216">
                                    <circle id="Elipse_5" data-name="Elipse 5" cx="4.859" cy="4.859" r="4.859" transform="translate(1088.72 1801.184)" fill="#e52454"></circle>
                                </g>
                                <g id="Grupo_217" data-name="Grupo 217">
                                    <circle id="Elipse_6" data-name="Elipse 6" cx="4.859" cy="4.859" r="4.859" transform="translate(1102.366 1793.307)" fill="#fff"></circle>
                                </g>
                                <g id="Grupo_219" data-name="Grupo 219">
                                    <g id="Grupo_218" data-name="Grupo 218">
                                        <circle id="Elipse_7" data-name="Elipse 7" cx="4.859" cy="4.859" r="4.859" transform="translate(1102.366 1777.536)" fill="#fff"></circle>
                                    </g>
                                </g>
                                <g id="Grupo_220" data-name="Grupo 220">
                                    <circle id="Elipse_8" data-name="Elipse 8" cx="4.93" cy="4.93" r="4.93" transform="translate(1088.649 1785.349)" fill="#e52454"></circle>
                                </g>
                                <g id="Grupo_221" data-name="Grupo 221">
                                    <path id="Caminho_42" data-name="Caminho 42" d="M1096.442,1802.118l-.068.076-2.655,1.312-2.431-.7-.629-.653a4.86,4.86,0,0,0,.045-7.872l.41-.467,4.789-.06.55.527a4.857,4.857,0,0,0-.011,7.834Z" fill="#e52454"></path>
                                </g>
                                <g id="Grupo_222" data-name="Grupo 222">
                                    <path id="Caminho_43" data-name="Caminho 43" d="M1091.732,1786.191l-1.9,4.468-1.168.091a4.862,4.862,0,0,0-6.724-3.94l-.155-.49,2.07-4.383.892-.148a4.856,4.856,0,0,0,6.822,3.985Z" fill="#e52454"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Tarefas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Clientes/Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Login">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Entrevista
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
